<h2 class="ui center aligned medium orange icon header">
  <i class="circular coffee icon"></i>
  Say Hello
</h2>

<div class="ui grid">
  <div class="four wide column">
        <div class= "ui fluid raised card">
            <div class = "ui content">
                <div class="ui inverted vertical pointing menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>
            </div>   
        </div>
    </div>
    
    <div class="twelve wide column">
        <div class= "ui fluid raised card chatbox">
            <div class = "content"> 
                <div class="ui feed">
                    <%= render '/layouts/message' %>
                </div>   
            </div>
            
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Enter a Message...">
                            <i class="bordered inverted orange edit icon"></i>
                        </div>
                    </div>
                </form>
            </div> 
        </div>    
    </div>
</div>  